In [17]:
# Dependencies and Setup
import pandas as pd

In [24]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [25]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [26]:
total_players = purchase_data["SN"].value_counts()
total_players

Lisosia93        5
Iral74           4
Idastidru52      4
Tyidaim51        3
Lassilsala30     3
                ..
Frichossala54    1
Chamirraya83     1
Seolollo93       1
Yasur35          1
Heudai45         1
Name: SN, Length: 576, dtype: int64

NameError: name 'total_player_df' is not defined